@model FILFusion01.Controllers.Totalviewmodel

<!DOCTYPE html>
<html>
<head>
    <title>Inventory Summary</title>
</head>
<body>
    <h1>Inventory Summary</h1>

    <div>
        <label>Total Quantity:</label>
        <span>@Model.totalquantity</span>
    </div>

    <div>
        <label>Total Price:</label>
        <span>@Model.totalprice</span>
    </div>
</body>
</html>
